.task1 {
    background-color: pink;
    border: 2px  black;
    padding: 20px;   
    margin: 40px;    
}


.custom-heading {
    font-family: Georgia, serif;
    font-size: 30px;
    letter-spacing: 1px;   
    margin-bottom: 10px;
}

.custom-paragraph {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.9;     
    letter-spacing: 1px;
}

.flex-list {
    display: flex;          
    list-style: none;       
    gap: 20px;              
    padding: 0;
}

.flex-list li {
    background-color: pink;
    padding: 10px 15px;
    border-radius: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;   /* makes items vertical */
    gap: 15px;                /* space between items */
    width: 200px;
}

.flex-column div {
    background-color: pink;
    padding: 15px;
    text-align: center;
    color: white;
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 15px;
}

.box {
    background-color: pink;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;  
    background-color: white;
    padding: 20px;
}

.space-evenly div {
    background-color: pink;
    padding: 15px 25px;
}

.parent {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 200px;
    background-color: white;
}

.child {
    background-color: pink;
    padding: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;   
    border: 4px solid black;  
    object-fit: cover;    
}


.normal-box {
    background-color: pink;
    padding: 15px;
    margin: 10px;
}

.relative-box {
    background-color: pink;
    padding: 15px;
    margin: 10px;
    position: relative;  
    top: 40px;           
    left: 40px;          
}

.hover-box {
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: pink;
    transition: background-color 0.5s ease;  
}

.hover-box:hover {
    background-color: red;  
}
