body{
margin:0;
font-family:Arial;
background:#1e1f22;
color:white;
}
.container{
display:grid;
grid-template-columns:80px 220px 1fr 200px;
height:100vh;
}
.servers{
background:#111214;
display:flex;
flex-direction:column;
align-items:center;
gap:15px;
padding:10px;
}
.icon{
width:50px;
height:50px;
background:#5865f2;
border-radius:50%;
}
.add{
width:50px;
height:50px;
background:#2ecc71;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:24px;
}
.channels{
background:#2b2d31;
padding:15px;
}
.chat{
background:#313338;
padding:20px;
}
.msg{
display:flex;
gap:10px;
margin-bottom:15px;
}
.avatar{
width:40px;
height:40px;
border-radius:50%;
}
.red{background:red;}
.blue{background:#3b82f6;}
.green{background:#10b981;}
.members{
background:#2b2d31;
padding:15px;
}