body {
    background: #0f172a;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}.profile-info {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    padding: 20px;
    
}
.tabs{
    display: flex;
    gap: 20px;
   
}  
.actions {
    position: absolute;
    right: 20px;
    top: 20px;
}

.message {
    background: #1e293b;
    color: white;
    cursor:pointer;
}

.follow {
    background: white;
    color: black;
    cursor:pointer;
}
.profile-pic {
    width: 80px;     
    height: 80px;     
    border-radius: 50%;
    
}
                      
