/* temlate task1 css code*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f12125e;
    color: white;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(3px);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #f4f4f4;
}

.hero button {
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.features {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 30px;
}

.feature-text {
    flex: 1;
}

.feature-image {
    flex: 1;
}

.feature-image img {
    width: 50%;
    border-radius: 10px;
}


.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #222;
    color: white;
    padding: 40px;
    gap: 20px;
}


/* temlate task2 css code*/


.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    height: 100vh;
}


.dashboard .header {
    grid-area: header;
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}


.dashboard .sidebar {
    grid-area: sidebar;
    background-color: #34495e;
    color: white;
    padding: 20px;
}

.dashboard .sidebar ul {
    list-style: none;
    padding: 0;
}

.dashboard .sidebar li {
    margin: 15px 0;
}


.dashboard .main {
    grid-area: main;
    padding: 20px;
    background-color: #ecf0f1;
}


.dashboard .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.dashboard .card {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}


.dashboard .chart {
    background-color: white;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}


.dashboard table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.dashboard th,
.dashboard td {
    border: 1px solid #c2b7b7;
    padding: 10px;
    text-align: center;
}

.dashboard th {
    background-color: #bdc3c7;
}
/* temlate task3 css code*/


.product-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px;
}


.filter-sidebar {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    position: sticky;
    top: 10px; 
    height: fit-content;
}

.filter-sidebar h2 {
    margin-top: 0;
}

details {
    margin-bottom: 15px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


.product-card {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}
.task-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.task-box {
    background-color: rgb(68, 51, 95);
    color: white;
    text-decoration: none;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.task-box:hover {
    background-color: #178497;
    transform: scale(1.05);
}
/* temlate task4 css code*/


.pricing-section {
    text-align: center;
    padding: 40px 20px;
    background: white;
}


.toggle-container {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}




.switch {
    position: relative;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    background: #943939;
    border-radius: 600px;
    width: 100%;
    height: 100%;
    
}

.slider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    top: 2.5px;
    left: 3px;
    transition: 1s;
}






.pricing-grid {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}


.pricing-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}


.featured {
    border: 2px solid #ff6b6b;
   
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff6b6b;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 50px;
}


.pricing-card button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #2c3e50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pricing-card button:hover {
    background: #34495e;
}

/* temlate task5 css code*/
body {
    background: #0f172a;   /* dark navy */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
}.profile-info {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    padding: 20px;
    
}
.tabs{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}  
.actions {
    position: absolute;
    right: 20px;
    top: 20px;
}

.btn {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.message {
    background: #1e293b;
    color: white;
}

.follow {
    background: white;
    color: black;
}
.profile-pic {
    width: 80px;     
    height: 80px;     
    border-radius: 50%;
    object-fit: cover;
}
                      