
.calendar {
    width: 100%;
    max-width: 900px;
    margin: auto;
}


.calendar-header {
    background: #31092c;
    color: rgb(223, 209, 209);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

.day-names div {
    background: #630333;
    color: white;
    padding: 15px;
    text-align: center;
}


.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 80px;
}

.day {
    border: 1px solid #e6dada;
    padding: 10px;
}
.event {
    margin-top: 5px;
    padding: 4px;
    font-size: 12px;
    border-radius: 40px;
    color: white;
}

.birthday {
    background: #ee58a3; 
}