body{
    background-color: #06093f;
    font-family: Arial, sans-serif;
    
}
.music-card {
    background-color: rgb(115, 29, 196);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 400px;
}
.music-card h2{
    margin-top: 0;
    color: #141010;
}
.music-card p{
    color: #d612ac;
}
.album-art{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.music-player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}
.music-player button{
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.music-player button:hover{
    background-color: #3700b3;
}
.song-info{
    display: flex;
    align-items: center;
}
.controls{
    display: flex;
    gap: 10px;
}
