body{
    background:black;
    font-family:Arial;
    padding:40px;
    color:white;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3,200px);
    gap: 20px;px;
    justify-content:center;
}

.card{
    background:#4e6edb;
    padding:20px;
    border-radius:10px;
    overflow:hidden;
}

summary{
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

.card p{
    margin-top:10px;
    max-height:0;
    overflow:hidden;
    opacity:0;
    transition:all 0.4s ease;
}

.card[open] p{
    max-height:100px;
    opacity:1;
}